cmake
easydict~=1.9
numpy~=1.24.4
numba
opencv-python-headless~=4.5.1.48
scipy~=1.10.1
scikit-image
tqdm~=4.66.4
PyYAML~=6.0.1
open3d~=0.18.0
cython~=3.0.10
tensorboardX~=2.6.2.2
shapely==2.0.0
einops~=0.8.0
cumm
timm~=1.0.7
icecream~=2.1.3
h5py~=3.11.0
pyquaternion~=0.9.9
efficientnet_pytorch==0.7.0
scikit_learn
python-lzf
opencood~=0.1.0
scikit-learn~=1.3.2
matplotlib~=3.7.5
pillow~=10.4.0
pypcd~=0.1.1
torchvision~=0.11.2
pandas~=2.0.3
loguru~=0.5.3
setuptools~=69.5.1